docs/logic-apps.json
[
  {
    "accessEndpoint": "https://prod-22.italynorth.logic.azure.com:443/workflows/37bbd2f9bbbb433abdca6556986f2cf6",
    "changedTime": "2026-04-23T15:10:38.2458946Z",
    "createdTime": "2026-04-23T09:30:48.5629864Z",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "CancelloFilreREADY.OK": {
          "inputs": {
            "headers": {
              "SkipDeleteIfFileNotFoundOnServer": false
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureblob']['connectionId']"
              }
            },
            "method": "delete",
            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('emlainaicoachsa'))}/files/@{encodeURIComponent(encodeURIComponent('/status/Ready.OK'))}"
          },
          "runAfter": {
            "For_each": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "DaBinarioAJsonIntervals": {
          "inputs": "@replace(base64ToString(body('LeggoDatiIntervals')?['$content']), decodeUriComponent('%EF%BB%BF'), '')\n\n\n\n",
          "runAfter": {
            "LeggoDatiIntervals": [
              "Succeeded"
            ]
          },
          "type": "Compose"
        },
        "DaBinarioaJsonStrava": {
          "inputs": "@replace(base64ToString(body('LeggoDatiStravaHistory')?['$content']), decodeUriComponent('%EF%BB%BF'), '')",
          "runAfter": {
            "LeggoDatiStravaHistory": [
              "Succeeded"
            ]
          },
          "type": "Compose"
        },
        "For_each": {
          "actions": {
            "Compose": {
              "inputs": {
                "activity_id": "@{items('For_each')?['id']}",
                "intervals_data": "@first(body('Filter_Array'))",
                "laps_data": "@json(outputs('DaBinarioaJasonLaps'))",
                "strava_data": "@items('For_each')"
              },
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "CreoFileCompleti": {
              "inputs": {
                "body": "@outputs('Compose')",
                "headers": {
                  "ReadFileMetadataFromServer": true
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('emlainaicoachsa'))}/files",
                "queries": {
                  "folderPath": "/aggregator",
                  "name": "@{formatDateTime(items('For_each')?['date'], 'yyyyMMdd')}_master_@{items('For_each')?['id']}.json",
                  "queryParametersSingleEncoded": true
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "type": "ApiConnection"
            },
            "DaBinarioaJasonLaps": {
              "inputs": "@replace(base64ToString(body('GetLAPSperID')?['$content']), decodeUriComponent('%EF%BB%BF'), '')",
              "runAfter": {
                "GetLAPSperID": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "Filter_array": {
              "inputs": {
                "from": "@json(outputs('DaBinarioAJsonIntervals'))",
                "where": "@equals(item()?['date'], substring(items('For_each')?['date'], 0, 10))"
              },
              "queries": {
              "inferContentType": true
            }
          },
          "runAfter": {},
          "type": "ApiConnection"
        },
        "LeggoDatiStravaHistory": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureblob']['connectionId']"
              }
            },
            "method": "get",
            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('emlainaicoachsa'))}/files/@{encodeURIComponent(encodeURIComponent('/processed-data/strava_history_lite.json'))}/content",
            "queries": {
              "inferContentType": true
            }
          },
          "runAfter": {
            "Parse_JSON_Intervals": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "Parse_JSON_Intervals": {
          "inputs": {
            "content": "@outputs('DaBinarioAJsonIntervals')",
            "schema": {
              "items": {
                "properties": {
                  "date": {
                    "type": "string"
                  },
                  "eftp": {
                    "type": "number"
                  },
                  "fatigue": {
                    "type": "number"
                  },
                  "fitness": {
                    "type": "number"
                  },
                  "hrv": {
                    "type": "number"
                  },
                  "pMax": {
                    "type": "number"
                  },
                  "readiness": {
                    "type": "number"
                  },
                  "resting_hr": {
                    "type": "number"
                  },
                  "sleep_hours": {
                    "type": "number"
                  },
                  "sleep_score": {
                    "type": "number"
                  },
                  "steps": {
                    "type": "number"
                  }
                },
                "required": [
                  "date",
                  "fitness",
                  "fatigue",
                  "eftp",
                  "pMax",
                  "hrv",
                  "resting_hr",
                  "sleep_score",
                  "sleep_hours",
                  "steps",
                  "readiness"
                ],
                "type": "object"
              },
              "type": "array              "type": "number"
                  },
                  "name": {
                    "type": "string"
                  },
                  "suffer_score": {
                    "type": "number"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "runAfter": {
            "DaBinarioaJsonStrava": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_an_HTTP_request_is_received": {
          "kind": "Http",
          "type": "Request"
        }
      }
    },
    "endpointsConfiguration": {
      "connector": {
        "outgoingIpAddresses": [
          {
            "address": "4.232.13.123"
          },
          {
            "address": " 4.232.13.98"
          }
        ]
      },
      "workflow": {
        "accessEndpointIpAddresses": [
          {
            "address": "172.213.177.28"
          },
          {
            "address": "172.213.177.95"
          },
          {
            "address": "172.213.177.111"
          },
          {
            "address": "172.213.196.142"
          },
          {
            "address": "172.213.199.113"
          },
          {
            "address": "172.213.193.254"
          },
          {
            "address": "172.213.199.195"
          },
          {
            "address": "172.213.198.5"
          },
          {
            "address": "172.213.177.28"
          },
          {
            "address": "172.213.177.95"
          },
          {
            "address": "172.213.177.111"
          },
          {
            "address": "172.213.196.142"
          },
          {
            "address": "172.213.199.113"
          },
          {
            "address": "172.213.193.254"
          },
          {
            "address": "172.213.199.195"
          },
          {
            "address": "172.213.198.5"
          }
        ],
        "outgoingIpAddresses": [
          {
            "address": "4.232.12.173"
          },
          {
            "address": "4.232.12.169"
          },
          {
            "address": "172.213.176.243"
          },
          {
            "address": "172.213.177.89"
          },
          {
            "address": "172.213.176.130"
          },
          {
            "address": "172.213.195.126"
          },
          {
            "address": "172.213.199.94"
          },
          {
            "address": "172.213.196.10"
          },
          {
            "address": "172.213.199.179"
          },
          {
            "address": "172.213.199.115"
          },
     icrosoft.Web/locations/italynorth/managedApis/azureblob"
          }
        }
      }
    },
    "provisioningState": "Succeeded",
    "resourceGroup": "emlain-ai-coach",
    "state": "Enabled",
    "tags": {},
    "type": "Microsoft.Logic/workflows",
    "version": "08584246498472468224"
  },
  {
    "accessEndpoint": "https://prod-21.italynorth.logic.azure.com:443/workflows/dd0bed939cd34491a8632ea7dcfdf499",
    "changedTime": "2026-04-23T13:42:21.9658079Z",
    "createdTime": "2026-04-16T12:42:12.2715255Z",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Create_blob_Intervals": {
          "inputs": {
            "body": "@body('HTTP_Scarica_dati_Intervals')",
            "headers": {
              "ReadFileMetadataFromServer": true
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureblob']['connectionId']"
              }
            },
            "method": "post",
            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('emlainaicoachsa'))}/files",
            "queries": {
              "folderPath": "/raw-responses",
              "name": "@concat('intervals_', formatDateTime(utcNow(), 'yyyy-MM-dd'), '.json')",
              "queryParametersSingleEncoded": true
            }
          },
          "runAfter": {
            "HTTP_Scarica_dati_Intervals": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          },
          "type": "ApiConnection"
        },
        "Create_blob_STRAVA": {
          "inputs": {
            "body": "@body('HTTP_Scarica_Dati_Strava')",
            "headers": {
              "ReadFileMetadataFromServer": true
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureblob']['connectionId']"
              }
            },
            "method": "post",
            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('emlainaicoachsa'))}/files",
            "queries": {
              "folderPath": "/raw-responses",
              "name": "@concat('strava_', formatDateTime(utcNow(), 'yyyy-MM-dd'), '.json')",
              "queryParametersSingleEncoded": true
            }
          },
          "runAfter": {
         }
          },
          "runAfter": {
            "Select_filed_for_Intervals": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          },
          "type": "ApiConnection"
        },
        "GetStravaHistory": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureblob']['connectionId']"
              }
            },
            "method": "get",
            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('emlainaicoachsa'))}/files/@{encodeURIComponent(encodeURIComponent('/processed-data/strava_history_lite.json'))}/content",
            "queries": {
              "inferContentType": true
            }
          },
          "runAfter": {
            "Initialize_variables": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "Get_Access_Token_Strava": {
          "inputs": {
            "content": "@body('HTTP_Get_Access_token_strava')",
            "schema": {
              "properties": {
                "access_token": {
                  "type": "string"
                },
                "athlete": {
                  "properties": {
                    "badge_type_id": {
                      "type": "integer"
                    },
                    "bio": {},
                    "city": {},
                    "country": {},
                    "created_at": {
                      "type": "string"
                    },
                    "firstname": {
                      "type": "string"
                    },
                    "follower": {},
                    "friend": {},
                    "id": {
                      "type": "integer"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "premium": {
                      "type": "boolean"
                    },
                    "profile": {
                      "type": "string"
                    },
                    "profile_medium": {
                      "type": "string"
                    },
                    "resource_state": {
                      "type": "integer"
                    },
                    "sex": {
                      "type": "string"
                    },
                    "state": {},
                    "summit": {
                      "type": "boolean"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "expires_at": {
                  "type": "integer"
                },
                "expires_in": {
                  "type": "integer"
                },
                "refresh_token": {
                  "type": "string"
                },
                "token_type": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "runAfter": {
            "HTTP_Get_Access_token_strava": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        },
        "Get_blob_Intervals_lite": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureblob']['connectionId']"
              }
            },
            "method": "get",
            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('emlainaicoachsa'))}/files/@{encodeURIComponent(encodeURIComponent('/processed-data/intervals_lite.json'))}/content",
            "queries": {
              "inferContentType": true
            }
          },
          "runAfter": {
            "VerificaSeFileEsiste": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "HTTP_Get_Access_token_strava": {
          "inputs": {
            "method": "POST",
            "queries": {
              "client_id": "@{body('Strava-client-ID')?['value']}",
              "client_secret": "@{body('Strava-Client-Secret')?['value']}",
              "grant_type": "refresh_token",
              "refresh_token": "@{body('Strava-Refresh-Token')?['value']}"
            },
            "uri": "https://www.strava.com/oauth/token"
          },
          "runAfter": {
            "Strava-Refresh-Token": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          },
          "type": "Http"
        },
        "HTTP_Scarica_Dati_Strava": {
          "inputs": {
           : {
            "Select1": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Intervals-API-KEY": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['keyvault-1']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('INTERVALS-API-KEY')}/value"
          },
          "runAfter": {},
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Intervals-Athlete-ID": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['keyvault-1']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('INTERVALS-ATHLETE-ID')}/value"
          },
          "runAfter": {
            "Intervals-API-KEY": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Intervals_Parse_JSON": {
          "inputs": {
            "content": "@body('HTTP_Scarica_dati_Intervals')",
            "schema": {
              "items": {
                "properties": {
                  "abdomen": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "atl": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "atlLoad": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "avgSleepingHR": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "baevskySI": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "bloodGluco
                                               "hrv": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "hrvSDNN": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "hydration": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "hydrationVolume": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "injury": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "kcalConsumed": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "lactate": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "locked": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "menstrualPhase": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "menstrualPhasePredicted": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "mood": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "motivation": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "protein": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "rampRate": {
                    "type": [
                      "number",
                      "null"
                    ]
                    "null"
                    ]
                  },
                  "soreness": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "spO2": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "sportInfo": {
                    "items": {
                      "properties": {
                        "eftp": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "pMax": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "wPrime": {
                          "type": [
                            "number",
                            "null"
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "steps": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "stress": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "systolic": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "tempRestingHR": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "tempWeight": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "updated": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "vo2max": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "weight": {
                    "type": [
                      "number",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id"
                ],
                "type": "object"
              },
              "type": "array"
            }
          },
          "runAfter": {
            "HTTP_Scarica_dati_Intervals": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        },
        "SeItervals_lite_esiste": {
          "actions": {
            "Create_Ready.OK": {
              "inputs": {
                "body": "{\n\"status\": \"completed\",\n\"timestamp\": \"@{utcNow()}\",\n}",
                "headers": {
                  "ReadFileMetadataFromServer": true
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('emlainaicoachsa'))}/files",
                "queries": {
                  "folderPath": "/status",
                  "name": "Ready.OK",
                  "queryParametersSingleEncoded": true
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "type": "ApiConnection"
            }
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Get_blob_Intervals_lite')?['statusCode']",
                  200
                ]
              }
            ]
          },
          "runAfter": {
            "Get_blob_Intervals_lite": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Select1": {
          "inputs": {
            "from": "@body('Strava_Parse_JSON')",
            "select": {
              "avg_hr": "@item()?['average_heartrate']",
              "avg_power": "@item()?['average_watts']",
              "date": "@item()?['start_date_local']",
              "distance_km": "@div(item()?['distance'], 100
          "type": "Select"
        },
        "Strava-Client-Secret": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['keyvault-1']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('STRAVA-CLIENT-SECRET')}/value"
          },
          "runAfter": {
            "Strava-client-ID": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Strava-Refresh-Token": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['keyvault-1']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('Strava-Refresh-Token')}/value"
          },
          "runAfter": {
            "Strava-Client-Secret": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Strava-client-ID": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['keyvault-1']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('STRAVA-CLIENT-ID')}/value"
          },
          "runAfter": {},
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Strava_Parse_JSON": {
          "inputs": {
            "content": "@body('HTTP_Scarica_Dati_Strava')",
            "schema": {
              "items": {
                "properties": {
                  "achievement_count": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "athlete": {
                    "properties": {
                                       "comment_count": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "commute": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "device_name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "device_watts": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "display_hide_heartrate_option": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "distance": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "elapsed_time": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "elev_high": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "elev_low": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "end_latlng": {
                    "items": {
                      "type": "number"
                    },
                    "type": [
                      "array",
                      "null"
                    ]
                  },
                  "external_id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "flagged": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "from_accepted_tag": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "gear_id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                               ]
                  },
                  "location_city": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "location_country": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "location_state": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "manual": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "map": {
                    "properties": {
                      "id": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "resource_state": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "summary_polyline": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "type": "object"
                  },
                  "max_heartrate": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "max_speed": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "max_watts": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "moving_time": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "photo_count": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "pr_count": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "private": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "resource_state": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "sport_type": {
                      },
                  "start_latlng": {
                    "items": {
                      "type": "number"
                    },
                    "type": [
                      "array",
                      "null"
                    ]
                  },
                  "suffer_score": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "timezone": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "total_elevation_gain": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "total_photo_count": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "trainer": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "type": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "upload_id": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "upload_id_str": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "utc_offset": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "visibility": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "weighted_average_watts": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "workout_type": {
                    "type": [
                      "number",
                      "null"
                    ]
                  }
                },
                "required": [
                  "id"
                ],
                "type": "object"
              },
              "type": "array"
            }
          },
          "runAfter": {
            "HTTP_Scarica_Dati_Strava": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        },
        "VerificaSeFileEsiste": {
          "actions": {
            "ComposeAppendiAttivitaSuFile": {
              "inputs": "@union(json(string(body('GetStravaHistory'))), variables('NuoveAttivitaFiltrate'))",
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "CreateStravaHistory": {
              "inputs": {
                "body": "@outputs('ComposeAppendiAttivitaSuFile')",
                "headers": {
                  "ReadFileMetadataFromServer": true
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "post",
 ers('$connections')['azureblob']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('emlainaicoachsa'))}/files",
                        "queries": {
                          "folderPath": "/processed-data",
                          "name": "laps_@{items('For_each')?['id']}.json",
                          "queryParametersSingleEncoded": true
                        }
                      },
                      "runAfter": {
                        "HTTPgetLaps": [
                          "Succeeded"
                        ]
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      },
                      "type": "ApiConnection"
                    },
                    "HTTPgetLaps": {
                      "inputs": {
                        "headers": {
                          "Authorization": "Bearer @{body('Get_Access_Token_Strava')?['access_token']}"
                        },
                        "method": "GET",
                        "uri": "https://www.strava.com/api/v3/activities/@{items('For_each')?['id']}/laps"
                      },
                      "runAfter": {
                        "Append_to_array_variable": [
                          "Succeeded"
                        ]
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      },
                      "type": "Http"
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@length(body('Filter_per_ID_'))",
                          0
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Filter_per_ID_": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "Filter_per_ID_": {
                  "inputs": {
                  "transferMode": "Chunked"
                  }
                },
                "type": "ApiConnection"
              },
              "FileNonEsiste": {
                "inputs": "@union(json('[]'), body('Select1'))",
                "type": "Compose"
              },
              "For_each_old_activities": {
                "actions": {
                  "CreateLapsOldActivites": {
                    "inputs": {
                      "body": "@body('HTTPgetOldLaps')",
                      "headers": {
                        "ReadFileMetadataFromServer": true
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('emlainaicoachsa'))}/files",
                      "queries": {
                        "folderPath": "/processed-data",
                        "name": "laps_@{items('For_each_old_activities')?['id']}.json",
                        "queryParametersSingleEncoded": true
                      }
                    },
                    "runAfter": {
                      "HTTPgetOldLaps": [
                        "Succeeded"
                      ]
                    },
                    "runtimeConfiguration": {
                      "contentTransfer": {
                        "transferMode": "Chunked"
                      }
                    },
                    "type": "ApiConnection"
                  },
                  "HTTPgetOldLaps": {
                    "inputs": {
                      "headers": {
                        "Authorization": "Bearer @{body('Get_Access_Token_Strava')?['access_token']}"
                      },
                      "method": "GET",
                      "uri": "https://www.strava.com/api/v3/activities/@{items('For_each_old_activities')?['id']}/laps"
                    },
                    "runtimeConfiguration": {
                      "contentTransfer": {
                        "transferMode": "Chunked"
                      }
                    },
                    "type": "Http"
                  }
                },
                "foreach": "@outputs('FileNonEsiste')",
                "runAfter": {
                  "FileNonEsiste": [
                    "Succeeded"
                 "address": "4.232.13.123"
          },
          {
            "address": " 4.232.13.98"
          }
        ]
      },
      "workflow": {
        "accessEndpointIpAddresses": [
          {
            "address": "172.213.177.28"
          },
          {
            "address": "172.213.177.95"
          },
          {
            "address": "172.213.177.111"
          },
          {
            "address": "172.213.196.142"
          },
          {
            "address": "172.213.199.113"
          },
          {
            "address": "172.213.193.254"
          },
          {
            "address": "172.213.199.195"
          },
          {
            "address": "172.213.198.5"
          },
          {
            "address": "172.213.177.28"
          },
          {
            "address": "172.213.177.95"
          },
          {
            "address": "172.213.177.111"
          },
          {
            "address": "172.213.196.142"
          },
          {
            "address": "172.213.199.113"
          },
          {
            "address": "172.213.193.254"
          },
          {
            "address": "172.213.199.195"
          },
          {
            "address": "172.213.198.5"
          }
        ],
        "outgoingIpAddresses": [
          {
            "address": "4.232.12.173"
          },
          {
            "address": "4.232.12.169"
          },
          {
            "address": "172.213.176.243"
          },
          {
            "address": "172.213.177.89"
          },
          {
            "address": "172.213.176.130"
          },
          {
            "address": "172.213.195.126"
          },
          {
            "address": "172.213.199.94"
          },
          {
            "address": "172.213.196.10"
          },
          {
            "address": "172.213.199.179"
          },
          {
            "address": "172.213.199.115"
          },
          {
            "address": "172.213.176.243"
          },
          {
            "address": "172.213.177.89"
          },
          {
            "address": "172.213.176.130"
          },
          {
            "address": "172.213.195.126"
          },
          {
            "address": "172.213.199.94"
          },
          {
            "address": "172.213.196.10"
          },
          {
            "address": "172.213.199.179"
          },
          {
            "address": "172.213.199.115"
          }
        ]
      }
    },
    "id": "/subscriptions/5b1877c3-339d-48f5-9594-b68125cf383b/resourceGroups/emlain-ai-coach/providers/Microsoft.Logic/workflows/emlain-ai-coach-postino",
    "identity": {
      "principalId": "225df39e-9249-45b3-b470-d84669840644",
      "tenantId": "85986750-ee91-4ccd-a3ff-24b5a0be3f4d",
      "type": "SystemAssigned"
    },
    "location": "italynorth",
    "name": "emlain-ai-coach-postino",
    "parameters": {
      "$connections": {
        "value": {
          "azureblob": {
            "connectionId": "/subscriptions/5b1877c3-339d-48f5-9594-b68125cf383b/resourceGroups/emlain-ai-coach/providers/Microsoft.Web/connections/azureblob",
            "connectionName": "azureblob",
            "connectionProperties": {
              "authentication": {
                "type": "ManagedServiceIdentity"
              }
            },
            "id": "/subscriptions/5b1877c3-339d-48f5-9594-b68125cf383b/providers/Microsoft.Web/locations/italynorth/managedApis/azureblob"
          },
          "keyvault-1": {
            "connectionId": "/subscriptions/5b1877c3-339d-48f5-9594-b68125cf383b/resourceGroups/emlain-ai-coach/providers/Microsoft.Web/connections/keyvault-1",
            "connectionName": "keyvault-1",
            "connectionProperties": {
              "authentication": {
                "type": "ManagedServiceIdentity"
              }
            },
            "id": "/subscriptions/5b1877c3-339d-48f5-9594-b68125cf383b/providers/Microsoft.Web/locations/italynorth/managedApis/keyvault"
          }
        }
      }
    },
    "provisioningState": "Succeeded",
    "resourceGroup": "emlain-ai-coach",
    "state": "Enabled",
    "tags": {},
    "type": "Microsoft.Logic/workflows",
    "version": "08584246551435323269"
  }
]